* {
  box-sizing: border-box;
}

/* Typography */
h1,
h2 {
  font-family: "Quattrocento", "Times New Roman", "Open Sans";
  font-weight: 400;
  letter-spacing: 1px;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
}

p,
button,
.card_button,
.numbertext {
  font-family: "Quattrocento Sans", "Arial", "Open Sans";
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 16px;
}

p {
  line-height: 25px;
  margin-bottom: 0;
}

/* Highlighted text */
.highlighted_text {
  font-weight: 700;
  letter-spacing: 1px;
}

/* Body and Footer */
body {
  background-color: #f2e9e4;
}

footer {
  background-color: #252e3c;
  padding-top: 30px;
  margin-top: 100px;
}

.logo_footer {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 20px;
}

/* Icons and Images */
.contact_icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  color: #f2e9e4;
  margin-top: 20px;
}

i {
  padding-left: 15px;
  padding-right: 15px;
}

/* Text colors */
.light_text {
  color: #f2e9e4;
}

.dark_text {
  color: #252e3c;
}

/* Max-width for images and logo */

.images {
  max-width: 100%;
  overflow: hidden;
}

.logo {
  max-width: 80%;
}

@media screen and (min-width: 428px) {
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 540px) {
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 20px;
    line-height: 35px;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 34px;
  }
  p {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 880px) {
  .logo {
    max-width: 50%;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1680px) {
}

@media screen and (min-width: 1780px) {
}

@media screen and (min-width: 1920px) {
}

@media screen and (min-width: 2100px) {
}
