/* Font families, font-weight and font sizes*/

h1 {
  font-family: "Quattrocento", "Times New Roman", "Open Sans";
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 25px;
  text-transform: uppercase;
}

p {
  font-family: "Quattrocento Sans", "Arial", "Open Sanse";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-size: 16px;
}

/* Colours*/

body {
  background-color: #f2e9e4;
}

.light_text {
  color: #f2e9e4;
}

.dark_text {
  color: #252e3c;
}

/* Images, logo, and icons*/

.logo {
  max-width: 80%;
}

.images {
  max-width: 100%;
}
